<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
</head>
<body>
    <header>
        <h1>Pomodoro Timer</h1>
    </header>
    <main>
        <section id="timer">
            <div id="time">25:00</div>
        </section>
        <section id="controls">
            <!--Use the onclick="myFunction() to get javascript functionality"-->
            <button id="start-btn" type="button">Start</button>
            <button id="task-btn"  type="button">Task</button>
            <button id="pause-btn" type="button">Pause</button>
            <button id="reset-btn" type="button">Reset</button>
        </section>
    </main>
</body>
</html>